/* HELPER CLASSES */

.mx-1 {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
}

.mb-1 {
    margin-bottom: 5pt;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* APP CLASSES */

.trivialContainer {
    background-color: rgb(190, 238, 238);
    width: 100%;
    height: 100%;
    text-align: center;
}

.tab-wrapper {
    padding: 5pt;
    box-shadow: 0 0 4pt 0 rgba(0,0,0,0.2);
}

.title {
    font-size: 1.5rem;
}

.question {
    padding: 10pt;
}

.confirm-msg {
    font-size: 2rem;
}

.correct {
    color: rgb(45, 131, 45);
}

.wrong {
    color: rgb(165, 51, 51);
}