/* GENERAL DESIGN AND APPEARANCE */

body {
    font-size: 1.8rem;
}

/* HELPER CLASSES */

.mx-1 {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
}

.mb-1 {
    margin-bottom: 5pt;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* CUSTOM CLASSES */

.trivialWrapper {
    /* background-color: rgb(190, 238, 238); */
    background: linear-gradient(45deg, rgb(157, 238, 238) 50%, rgb(190, 238, 238) 50%);
    width: 100%;
    height: 100%;
    text-align: center;
}

.mainView-wrapper {
    padding: 10pt;
    width: 100%;
    height: 100%;
}

.tab-wrapper {
    box-shadow: 0 0 4pt 0 rgba(0,0,0,0.2);
    background-color: rgb(113, 234, 255);
}

.tab-container {
    padding: 5pt;
}

.title {
    display: block;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0.7rem;
}

.question {
    padding: 10pt;
}

.confirm-msg {
    font-size: 2rem;
}

.correct {
    color: rgb(45, 131, 45);
}

.wrong {
    color: rgb(165, 51, 51);
}

.btn-cta {
    font-size: 2.5rem;
    font-weight: bold;
}

.score {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
}

.score-value {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
}